#app{
  width: 375px;
  height: 600px;
  /* border: 1px solid; */
  overflow: hidden;
  border-radius: 8px;
  display: flex;
}

#box{
  height: 200px;
  width: 130px;
  margin: auto;
  /* border: 1px solid; */
  overflow: hidden;
  box-sizing: border-box;
  top: 10px;
  left: 10px;
  position: absolute;
}

#app .card {
  width: 100px;
  height: 30px;
  background-color: gray;
  margin-bottom: 10px;
  line-height: 30px;
  color: ghostwhite;
  position: absolute;
  will-change: transform;
};